@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oxanium&display=swap');

.AppContainer {
  align-content: center;
  align-items: center;
  font-family: 'Oxanium';
  background-color: rgb(249, 249, 249);
  box-shadow: var(--shadow-dark);
  height: 100%;
}
.container{
  font-family: 'Oxanium';
  align-content: center;
}

.body{
  font-family: 'Oxanium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:whitesmoke;
  align-items: center;
  align-content: center;
  height: 100%;
   /* aliceblue; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7d9d81;
  min-height: 100vh;
  display: -ms-inline-flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(17px + 2vmin);
  color: white;
}

.App-title {
  font-size: 1.5em;
  
}

.App-intro {
  font-size: large;
}

.App-link {
  color: #869871;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
