#root {
  text-align: center;
  background-color: whitesmoke;
  align-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Oxanium', 'Major Mono Display', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
  align-self: center;
  align-content: center;
  background-color: whitesmoke;
}

code {
  font-family: 'Oxanium', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
