{
  "presets": [ "env", "@babel/preset-react", "stage-0","@babel/preset-env" ],
  "plugins": [
    "react-html-attrs",
    "@babel/plugin-proposal-class-properties",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-react-jsx-source",
    "react-hot-loader/babel",
    "transform-object-assign",
    ["transform-react-remove-prop-types", {
      "mode": "wrap",
      "ignoreFilenames": ["node_modules"]
    }],
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src",
      "rootPathPrefix": "@"
    }, {
      "rootPathSuffix": "/",
      "rootPathPrefix": "~"
    }]
  ]
}