{
  "printWidth": 66,
  "tabWidth": 2,
  "useTabs": false,
  "parser": "flow",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "jsxBracketSameLine": true
}
