
html, body {
  scroll-behavior: smooth;
  align-items: center;
  position: relative;
  background-color: floralwhite;
  max-width: 100vw;
  max-height: 100vh;
}

.landing{
  box-sizing: border-box;
  padding-top: 3em;;
  display: -ms-flexbox;
  flex-direction: column-reverse;
  color:#81b5a9b7;
  background-color: mintcream;
  justify-content: space-evenly;
  align-items: center;
  /* align-content: center; */
  position: relative;
  min-width: 70vw;
  border: 42px  solid rgba(105, 105, 105, 0.844);
  border-radius: 196px;
  min-height: 70vh;
  max-height: 75vh;
  overflow-y: scroll;
  overflow-x: visible;
  font-family: 'Oxanium','Major Mono Display', monospace;
  transform-style: preserve-3d;
  box-shadow: var(--shadow-dark);
}

#arr:hover {
text-decoration: none;
}

#revolve-front{
  /* align-content: center; */
  /* align-items: center; */
  /* align-self: center; */
  display: inline-block;
  /* font-weight: 6px; */
  padding: .8em;
  position: relative;
}

.arrow-container{
width: 10px;
height: 10px;
position: relative;
}

.arrow-1{
width: 100px;
height: 100px;
background: rgba(88, 114, 96, 0.837);
opacity: 0.5;
border-radius: 50%;
position: relative;
}

.arrow-2{
width: 60px;
height: 60px;
background: rgb(231, 238, 154);
border-radius: 21% 83% 17% 69%;
position: relative;
top: 20px;
left: 20px;
z-index: 3;
display: table;
}

.arrow-2:before{
width: 56px;
height: 56px;
content: "";
border: 2px solid #7fa297;
position: relative;
top: 2px;
left: 2px;
}

.arrow-2 i.fa{
font-size: 30px;
display: table-cell;
vertical-align: middle;
text-align: center;
color: #bddac6;
}

/* Custom Animate.css */

.animated.hinge {
-webkit-animation-duration: 2s;
      animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
0% {
opacity: 0;
-webkit-transform: scale3d(.6, .6, .6);
        transform: scale3d(.6, .6, .6);
}

50% {
opacity: 0.5;
}

100% {
opacity: 0;
}
}

@keyframes zoomIn {
0% {
opacity: 0;
-webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
}

50% {
opacity: 0.5;
}

100% {
opacity: 0;
}
}

.zoomIn {
-webkit-animation-name: zoomIn;
      animation-name: zoomIn;
}
.glyphicon {
  top: 20px;
  font-size: inherit;
  color: #817f85;
}