html, body{
  font-family: 'Oxanium', monospace;
  background: mintcream;
  color: #94bfa4;
  min-width: 36vw;
  max-width: 42vw;
  min-height: 66vh;
  align-content: center;
  position: relative;
  overflow-y: auto;
  overflow-x: visible;
  align-items: center;
}
.loginContainer {
  min-width: 36vw;
  max-width: 42vw;
  flex-grow: 2;
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Oxanium', monospace;
  justify-content: center;
  /* align-items: center;
  align-content: center; */
  position: relative;
  border: 17px lightsteelblue;
  border-radius: 17px;
  background-color: #a7aeaee5;
  min-height: 72vh;
  outline: 17px groove turquoise;
  overflow-x: visible;
  overflow-y: scroll;
  transform-style: preserve-3d;
  box-shadow: var(--shadow-dark);
}

.section{
  min-width: 36vw;
  max-width: 42vw;
  box-sizing: border-box;
  display: inline-block;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  min-height: 66vh;
  overflow-y: auto;
  overflow-x: visible;
  border: 17px solid magenta;
  outline: 17px groove turquoise;
}
.loginSection {
  min-width: 36vw;
  max-width: 42vw;
  box-sizing: border-box;
  display: inline-block;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  /* align-self: center; */
  border: 17px solid lightgoldenrodyellow;
  min-height: 80vh;
  overflow-x: visible;
  overflow-y: auto;
  font-family: 'Oxanium', monospace, 'Nidus Sans';
  /* perspective:1000px; */
	transform-style: preserve-3d;
  box-shadow: var(--shadow-dark);
}

#form {
  min-width: 36vw;
  max-width: 42vw;
  display: flex;
  flex-direction: column;
  font-family: 'Oxanium', monospace;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  /* align-content: space-between; */
  /* align-self: center; */
  position: relative;
  min-height: 66vh;
  border-radius: 21px;
  overflow-y: auto;
  overflow-x: visible;
  border: 12px solid silver;
  transform-style: preserve-3d;
  box-shadow: var(--shadow-dark);
}

.input{
  border-radius: 25px;
  /* align-content: center;
  align-self: center; */
  font-size: 23px;
  max-height: 3em;
  /* margin: 32px; */
  font-family: 'Oxanium', monospace;
}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 1em;
  border: 3px solid seagreen;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}


#sign-up:hover {
  text-decoration: none;
}

#login-title {
  background-color: mediumturquoise;
  display: inline-flex;
  flex-direction: center;
  margin: 1em;
  min-width: 21vw;
  max-width: 28vw;
  min-height: 4vh;
  align-self: center;
  font-family: 'Oxanium', monospace;
  border-radius: 66% 21% 17% 3%;
}
header {
  position: relative;
  font-family: 'Oxanium', monospace;  
  border-radius: 50% 23% 17% 22%;
  font-size: 3.3em;
  text-align: center;
  /* align-self: center; */
  /* align-content: center; */
  /* align-items: center; */
  min-width: 17vw;
  color:  #7d9d9a;
  letter-spacing: 7px;
}

header:hover {
  letter-spacing: 17px;
  border-radius: 21% 23% 17% 67%;
  min-width: 17vh;
}

.loginHover {
  font-family: 'Oxanium', monospace;  font-size: 1em;
  width: 32vw;
  background: rgb(87, 94, 89);
  outline: ridge 2px navy;
  color: #726659;
  border: solid 2px #b3aca7;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.loginHover:hover {
  background: rgb(153, 159, 175);
  color: #e2dedb;
}

.modal{
  align-self: inherit;
  min-width: 60vw;
}
.modal-header {
  min-width: 56vw;
}

#submit {
  min-width: 21vw;
  font-family: 'Oxanium', monospace;  font-size: 1em;
  color: #4b634f;
  background-color: rgb(245, 245, 245);
  outline: 6px inset rgba(20, 255, 192, 0.474);
  align-self: center;
  align-content: center;
  cursor: pointer;
  border: solid 3px #689293ad;
}

#submit:hover {
  color: #d2ccd3db;
  background-color: #ff1c7e;
}

.ReactModal__Content:focus {
  outline : 0;
}

#SignUpForm {
    font-family: 'Oxanium', monospace;
    line-height: 1.42857143;
    position: relative;
    /* left: -12px; */
}
h1 {
  min-width: 21vw;
  font-family: 'Oxanium';
  align-items: center;
  position: relative;
  align-self: center;
  align-content: center;
  display: inline-block;
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 6rem; 
    } 
  }

}

button {
  align-self: center;
  align-content: center;
  align-items: center;
  position: center;
  font-family: 'Oxanium';
  color: #425545;
  background-color: #b1cfdd;
}

button:hover{
  background-color: #241835d0;
  color: #82b1c4;
}

.notLoading{
  position: center;
  align-self: center;
  align-content: center;
  align-items: center;
}
#loading{
  position: center;
  align-self: center;
  align-content: center;
  align-items: center;
  min-width: 20vh;
  min-height: 2vh;
}

#create-account{
  color: ghostwhite;
  font-size: 1.1em;
  font-weight:2px;
  align-content: space-around;
  align-self: center;
  /* align-items: center; */
  /* margin: 7px; */
  font-family: 'Oxanium', monospace;
  position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oxanium&display=swap');

p.error {
  color : rgb(116, 78, 104);
}