p.error {
  color : rgb(116, 78, 104);
}


.container {
  font-family: 'Oxanium', monospace;
  align-items: center;
  align-content: center;
  align-self: center;
  position:center;

}
.input{
  border-radius:25px;
  font-family: 'Oxanium', monospace;
}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Oxanium', monospace;
  background: #E3DEDB;
  color: #94bfa4;
  align-content: center;
}
#sign-up:hover {
  text-decoration: none;
}

#login-title {
  background-color: #575b5ae5;
  margin: 17px;
  font-family: 'Oxanium', monospace;
  border-radius: 66% 21% 17% 3%;
}
header {
  position: relative;
  font-family: 'Oxanium', monospace;  border-radius: 50% 23% 17% 22%;
  margin: auto;
  font-size: 3.3em;
  text-align: center;
  color:  #7d9d9a;
  letter-spacing: 7px;
}

header:hover {
  letter-spacing: 17px;
  border-radius: 21% 23% 17% 67%;
}

#form {
  position: relative;
  font-family: 'Oxanium', monospace;
  display: inline-flexbox;
  width: 500px;
  margin: 50px auto 50px auto;
}

.loginHover {
  font-family: 'Oxanium', monospace;  font-size: 1em;
  width: 470px;
  height: 60px;
  padding: 0px 15px 0px 15px;
  
  background: rgb(87, 94, 89);
  outline: none;
  color: #726659;
  
  border: solid 2px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.loginHover:hover {
  background: rgb(153, 159, 175);
  color: #e2dedb;
}

.modal{
  align-self: inherit;
}
.modal-header {
  width: 470px;
}

#submit {
  width: 470px;
  margin: 0x 0px 0px 0px;
  font-family: 'Oxanium', monospace;  font-size: 1em;
  color: #4b634f;
  background-color: rgb(245, 245, 245);
  outline:none;
  cursor: pointer;
  
  border: solid 2px #b3aca7;
}

#submit:hover {
  color: #dae4d2;
  background-color: #a78591;
}

.ReactModal__Content:focus {
  outline : 0;
}

#SignUpForm {
    margin: 0px;
    font-family: 'Oxanium', monospace;
    line-height: 1.42857143;
    position: relative;
    left: -12px;
}
h1 {
  margin: 0;
  font-family: 'Oxanium';
  display: flex;
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 11rem; 
    } 
  }

}
.loginSection {
  position: center;
  margin: auto;
  /* padding: 10px; */
  /* height: 100vh; */
  font-family: 'Oxanium', monospace, 'Nidus Sans';
  align-self: center;
  align-content: center;
  /* perspective:1000px; */
  /* width: 65vh; */
  align-items: center;
	transform-style: preserve-3d;
  box-shadow: var(--shadow-dark);
}
button {
  align-self: center;
  align-content: center;
  align-items: center;
  position: center;
  font-family: 'Oxanium';
  color: #dae4d2;
  background-color: #6dcb85;
}

button:hover{
  background-color: #90899a;
  color: #38686c;

}

.notLoading{
  margin: 0px;
  position: center;
  align-self: center;
  align-content: center;
  align-items: center;
  padding: 0px,
}

.createAccount{
  align-content: space-around;
  align-self: center;
  font-family: 'Oxanium', monospace;
  position: center;
}

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oxanium&display=swap');