p.error {
  color : rgb(116, 78, 104);
}


.container {
  font-family: 'Oxanium', monospace;
  align-items: center;
  align-content: center;
  align-self: center;
  /* margin: 22px; */
  box-sizing: border-box;
  position: relative;
  border-radius: 25px;
  background-color: #a7aeaee5;
  height: 50vh;
  width: 100vw;
}
.input{
  border-radius:25px;
  align-self: center;
  align-content: center;
  align-self: center;
  margin: 32px;
  font-family: 'Oxanium', monospace;
}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 1em;
  border: 3px solid seagreen;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Oxanium', monospace;
  background: #E3DEDB;
  color: #94bfa4;
  align-content: center;
  position: relative;
  align-items: center;
  align-self: center;
}
#sign-up:hover {
  text-decoration: none;
}

#login-title {
  background-color: #9bcbc4bb;
  /* padding: 17px; */
  /* margin: 21px; */
  margin-bottom: 36px;
  align-content: center;
  width: 56vh;
  height: 10vh;
  align-self: center;
  align-items: center;
  font-family: 'Oxanium', monospace;
  border-radius: 66% 21% 17% 3%;
}
header {
  position: relative;
  font-family: 'Oxanium', monospace;  border-radius: 50% 23% 17% 22%;
  margin: auto;
  font-size: 3.3em;
  text-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
  width: 65vw;
  color:  #7d9d9a;
  letter-spacing: 7px;
}

header:hover {
  letter-spacing: 17px;
  border-radius: 21% 23% 17% 67%;
  width: 85vh;
}

#form {
  font-family: 'Oxanium', monospace;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  align-self: center;
  position: relative;
  /* margin: 33px; */
  width: 66vw;
  height: 56vh;
  border-radius: 21px solid silver;
}

.loginHover {
  font-family: 'Oxanium', monospace;  font-size: 1em;
  width: 470px;
  height: 60px;
  padding: 0px 15px 0px 15px;
  
  background: rgb(87, 94, 89);
  outline: none;
  color: #726659;
  
  border: solid 2px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.loginHover:hover {
  background: rgb(153, 159, 175);
  color: #e2dedb;
}

.modal{
  align-self: inherit;
  width: 60vw;
}
.modal-header {
  width: 56vw;
}

#submit {
  width: 39vw;
  font-family: 'Oxanium', monospace;  font-size: 1em;
  color: #4b634f;
  background-color: rgb(245, 245, 245);
  outline:none;
  align-self: center;
  align-content: center;
  cursor: pointer;
  border: solid 2px #b3aca7;
}

#submit:hover {
  color: #dae4d2;
  background-color: #adae82;
}

.ReactModal__Content:focus {
  outline : 0;
}

#SignUpForm {
    margin: 0px;
    font-family: 'Oxanium', monospace;
    line-height: 1.42857143;
    position: relative;
    left: -12px;
}
h1 {
  width: 85vw;
  font-family: 'Oxanium';
  align-items: center;
  position: relative;
  align-self: center;
  align-content: center;
  display: flex;
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      align-content: space-around;
      height: 11rem; 
    } 
  }

}
.section{
  align-content: center;
  align-self: center;
  align-items: center;
  position: relative;
  width: 86vw;
}
.loginSection {
  position: relative;
  width: 66vw;
  align-items: center;
  align-content: center;
  align-self: center;
  /* margin: 21px;
  padding: 17px; */
  border: 42px solid seashell;
  box-sizing: border-box;
  height: 66vh;
  font-family: 'Oxanium', monospace, 'Nidus Sans';
  /* perspective:1000px; */
	transform-style: preserve-3d;
  box-shadow: var(--shadow-dark);
}
button {
  align-self: center;
  align-content: center;
  align-items: center;
  position: center;
  font-family: 'Oxanium';
  color: #425545;
  background-color: #b1cfdd;
}

button:hover{
  background-color: #241835d0;
  color: #82b1c4;
}

.notLoading{
  margin: 0px;
  position: center;
  align-self: center;
  align-content: center;
  align-items: center;
  padding: 0px,
}
#loading{
  margin: 0px;
  position: center;
  align-self: center;
  align-content: center;
  align-items: center;
  padding: 0px;
  width: 20vh;
  height: 2vh;

}

.createAccount{
  align-content: space-around;
  align-self: center;
  align-items: center;
  margin: 7px;
  font-family: 'Oxanium', monospace;
  position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oxanium&display=swap');