.navbar {
  background-color: rgba(159, 208, 205, 0.858);
  display: -ms-inline-flexbox;
  position: fixed;
  /* align-items: center; */
  height: 10vh;
  justify-content: space-around;
  flood-opacity: inherit;
}
/* .span {
  display: inline-flex;
} */
.h1 {
  margin-left: auto;
  padding-inline: 10px;
  align-content: center;
  align-self: center;
  color: rgba(56, 54, 65, 0.995) !important;
  font-family: 'Etheriq','Metros',system-ui,'Nidus Sans','Courier Mono', Courier, monospace;
  font-size: 33px;
  font-weight: 6px; 
}