.navbar {
  background: rgb(197, 211, 206);
  display: -ms-inline-flexbox;
  flood-opacity: inherit;
}
.navbar-title {
  align-content: flex-end;
  color: rgba(68, 87, 76, 0.995) !important;
  font-family: 'Etheriq','Metros',system-ui,'Nidus Sans','Courier Mono', Courier, monospace;
  font-size: 21px;
  font-weight: 6px; 
}